extends layout 

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1 
                span Books List

        .w3-container
            if books && books.length > 0
                table.w3-table-all
                    tr
                        th Id
                        th Title
                        th Author
                        th Publish Date
                        th Pages
                    each book in books
                        tr
                            td
                                a(href="/" + book._id)= book._id
                            td= book.title
                            td
                                each author, index in book.author
                                    a(href="/entidades/" + encodeURIComponent(author))= author
                                    if index < book.author.length - 1
                                        | , 
                            td= book.publishDate
                            td= book.pages
            else
                p No books found.

    footer.w3-container.w3-teal
        p Meta Information: Generated on #{new Date().toLocaleDateString()} at #{new Date().toLocaleTimeString()}